@charset "utf-8";

// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$color-white: #ffffff;
$color-gray-98: #f3f3f3;
$color-gray-95: #ededed;
$color-gray-90: #e3e3e3;
$color-gray-85: #d9d9d9;
$color-gray-80: #cccccc;
$color-gray-75: #c0c0c0;
$color-gray-70: #b0b0b0;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-45: #727272;
$color-gray-40: #696969;
$color-gray-30: #4d4d4d;
$color-gray-20: #363636;
$color-gray-15: #222222;
$color-gray-10: #171717;
$color-black: #000000;

// UI colors
$color-bg: #F6F3F0;
$color-txt: #363538;
$color-txt-light: $color-bg;
$color-bright: lighten($color-txt-light, 13%);

$color-dark: #2A303D;
$color-dark-dark: darken(#2A303D, 9%);

$color-primary: #B85949;
$color-primary-20: darken($color-primary, 7%);
$color-primary-80: #DBA350;

